.container {
	background: url(../img/doroga_s_boku.jpg) no-repeat;
   padding: 400px;
	
}
.roofone{
   width: 150px;
   height: 60px;
   border-radius: 90px 0px 0px 0px;
   background-color: yellow;
   position: absolute;
   top: 440px;
   left: 210px;
   border: 5px solid #000000;
   
}
.rooftwo{
   width: 150px;
   height: 60px;
   border-radius: 0px 100px 0px 0px;
   background-color:yellow;
   position: absolute;
   top: 440px;
   left: 360px;
   border: 5px solid #000000; 
}
.kuzov{
   width: 550px;
   height: 100px;
   border-radius: 30px 90px 30px 30px;
   background-color: yellow;
   position: absolute;
   top: 500px;
   left: 100px;
   border: 5px solid #000000;
   
}
.wheelone{
   display: inline-block;
	border-radius: 50%;
   width: 100px;
	height: 100px;
	background-color:grey;
   z-index: 100;
   position: absolute;
   top: 545px;
   left: 150px;
   border: 15px solid #000000;
}
.wheeltwo{
   display: inline-block;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color:grey;
   z-index: 100;
   position: absolute;
   top: 550px;
   left: 500px;
   border: 15px solid #000000;
}
.headlightback{
   width: 30px;
   height: 30px;
   border-radius: 0px 30px 30px 0px;
   background-color:red;
   position: absolute;
   top: 550px;
   left: 100px;
   border: 5px solid #000000;
}
.headlightfront{
   width: 30px;
   height: 30px;
   border-radius: 30px 0px 0px 30px;
   background-color:red;
   position: absolute;
   top: 550px;
   left: 620px;
   border: 5px solid #000000;
}
.doorone{
   width: 5px;
   height: 155px;
   background-color:black;
   position: absolute;
   top: 442px;
   left: 250px;
}
.doortwo{
   width: 5px;
   height: 155px;
   background-color:black;
   position: absolute;
   top: 442px;
   left: 450px;
}
.doorthree{
   width: 10px;
   height: 155px;
   background-color:black;
   position: absolute;
   top: 442px;
   left: 355px;
}
.handle{
   width: 10px;
   height: 5px;
   background-color:black;
   position: absolute;
   top: 520px;
   left: 270px;
}
.handlefront{
   width: 10px;
   height: 5px;
   background-color:black;
   position: absolute;
   top: 520px;
   left: 380px;
}


.block{
	background-color: #eee;
	padding: 50px;
	margin-top: 50px;
	height: 1800px;
	position: relative;
   text-align: center;
	font-weight: 700;
}
.blocka{
   background-color: aqua;
   position: absolute;
   top: 20px;
   left: 100px;
}
.blockb{
background-color: yellow;
position: absolute;
width: 100px;
height: 80px;
z-index: 1;
}
.blockc{
background-color: blue;
position: fixed;
top: 600px;
left: 10px;
}
.blockd{
   background-color: blueviolet;
   position: relative;
   height: 30px;
   z-index: 2;
   top: 30px;
}
   
